/********************************************************
                 ->GENERAL RULES<-
*********************************************************/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, sans-serif;
}

main{
    height: calc(100vh - 80px);
    display: flex;
    position: relative;
    overflow: hidden;
}

ul{
    list-style: none;
}


/********************************************************
                 ->LAYOUT CLASSES<-
*********************************************************/

/*-------------------------->
Sidebar section
------------------>*/

.side-bar{
    width: 65px;
    height: 100%;
}


.side-bar .row{
    display: flex;
    flex-direction: column;
    padding: 5px 10px;
    height: 100%;
}

.side-bar .col{
    height:100px;
    bottom:0;
}

.side-bar .col-lg{
    height: calc(100% - 100px)

}

.mobile-sb-content{
    text-align: center;
    display: flex;
    flex-direction: column;
}

.tablet-sb-content{
    display: none; 
}

.t-sb-item .bigger{
    font-size:38pt ;
    margin-right: 15px;
}


.t-sb-item .small{
    font-size:12pt ;
    margin-right: 15px;
}

.tablet-sb-content .border-b{
   border-bottom: 1px solid white;
}

.t-sb-list li{
    margin-bottom: 20px;
}

/*-------------------------->
Header bar section
------------------>*/

.header-bar{
    position: fixed;
    left: 65px;
    top: 0;
    z-index: 1;
    width: calc(100vw - 65px); 
    height: 75px;
    padding: 20px;
    text-align: end;
}

.header-bar .col{
    height: 20px
}

/*-------------------------->
App-content section
------------------>*/

.app-content{
    width: calc(100vw - 65px);
    padding: 10px 20px;
}

.app-content .content-menu{
    margin-top: 75px;
}

.content-menu ul{
    display: flex;
    flex-wrap: wrap;
}

.recently-played{
    margin-top: 40px;
}

.recently-played .row{
    display: flex;
    flex-wrap: wrap;
}

.recently-played .col{
    width: 100%;
    height: 20px;
}

.playlists{
    margin-top: 40px;
}

.playlists .row{
    display: flex;
    flex-wrap: wrap;
}

.playlists .col{
    width: 50%;
    height: 20px;
}

.app-content ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.app-content li{
    display: flex;
    flex-direction: column;
}

/*-------------------------->
Footer section
------------------>*/

.m-bar{
    height: 80px;
    width: 100%;
}

.m-bar .row{
    width: 100%;
    padding: 0 10px;
    display: flex;
}

.m-bar .col{
    width: calc(100% / 3);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 15px;
}

.m-bar img{
    height: 30px;
    width: 30px;
}

.m-bar .cell{
    width: calc(100% / 3);
}

.m-bar i{
    margin-left: 15px;
}

.m-bar .cell-icon{
    display: flex;
    flex-direction: row;
    width: 50%;
    justify-content: end;
}

.m-bar .cell-volume{
    width: 50%;
}

.cell-icon i{
    margin:0 3px;

}

.m-bar .m-row{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -10px;
}

.m-row .circle-play{
    font-size: 16pt;
}

.m-row .cell{
    width: 100%;
}




/********************************************************
                 ->UTILITY CLASSES<-
*********************************************************/

.basis{
    flex-basis: 1;
}

.grow{
    flex-grow: 2;
}

.m-t-30{
    margin-top: 30px;
}


.m-l-5{
    margin-left: 5px;
}

.m-l-15{
    margin-left: 15px;
}

.m-t-10{
    margin-top: 10px;
}

.m-b-10{
    margin-botton: 10px;
}

.m-r-10{
    margin-right: 10px ;
}

.flx-center{
    display: flex;
    align-items: center;
}

.p-b-10{
    padding: 10px
}

.no-margin{
    margin: 0;
}

/********************************************************
                 ->STYLING CLASSES<-
*********************************************************/

.debug{
    border: 2px dashed white;
}

.content-menu li{
    height: 20px;
}

.bg-black{
    background-color: black;
}

/*-------------------------->
Header bar styles
------------------>*/

.header-bar{
    background-color: rgba(0, 0, 0, 0.603);
}

.btn{
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid white;
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 8pt;
}

.btn:hover{
    font-size: 9pt;
}

/*-------------------------->
App content styles
------------------>*/

.app-content{
    background-color: rgb(14, 16, 29);
}

.content-menu li{
    color: rgb(143, 143, 143);
    font-size: 7pt;
    margin-right: 6px;
}

.content-menu li{
    text-align: center;
}

li hr{
    visibility: hidden;
}

li:hover hr{
    visibility: visible;
    border-color:rgb(0, 192, 0);
    width: 20px;
    align-self: center;
    margin-top: 4px;
}

li:hover{
    color: white;
}

/*-------------------------->
Sidebar styles
------------------>*/

.side-bar{
    background-color: black;
}

.sp-logo{
    color: white;
    font-size:18pt;
    margin-bottom: 15px;
}

.m-sb-item{
    color: rgb(143, 143, 143); 
    font-size: 18pt; 
    margin-bottom: 10px;
}


.m-sb-small{
    color: rgb(143, 143, 143); 
    font-size: 10pt; 
    margin-bottom: 30px;
}

.t-sb-item{
    color: rgb(143, 143, 143); 
    font-size: 18pt; 
    margin-bottom: 20px;  
    margin-left: 10px;
}

.t-sb-list{
    color: rgb(143, 143, 143); 
}

.t-sb-item span{
    font-size: 12pt;
}

.t-sb-item h4{
    color: white;
}

.m-sb-item:hover{
    color: white;
    border-left: 2px solid rgb(0, 192, 0);
}

.t-sb-item:hover{
    color: white;
    border-left: 2px solid rgb(0, 192, 0);
    padding-left: 5px;
}

/*-------------------------->
Footer styles
------------------>*/

.m-bar{
    background-color: #252525;
    color: white;
    font-size: 10pt;
}

.m-bar span{
    color: rgb(143, 143, 143);
    font-size: 8pt;
}

.m-bar i{
    color: rgb(143, 143, 143);
    font-size: 7pt;
}

.cell-icon i{
    color: white;
}

.cell-volume .volume-bar{
    background-color: rgb(143, 143, 143) ;
    min-width: 60%;
    height: 4px;
    border-radius: 20px;
    margin-left: 7px;
}

.cell-volume .volume-on{
    background-color: white ;
    width: 20%;
    height: 4px;
    border-radius: 20px;
}

.m-row .volume-bar{
    background-color: rgb(143, 143, 143) ;
    width: 100%;
    height: 4px;
    border-radius: 20px;
}

.m-row i{
    color: white;
}

/********************************************************
                 ->MEDIA QUEERIES<-
*********************************************************/

/*-------------------------->
Tablet responsivness (780px)
------------------>*/

@media screen and (min-width: 786px) {

/*sidebar*/

.side-bar{
    width: 250px;
}

.mobile-sb-content{
    display: none;
}

.tablet-sb-content{
    display: flex;
    flex-direction: column;
    padding: 10px 5px;
}

.tablet-sb-content img{
    width: 100%;
}

.side-bar .col-lg{
    overflow-y: scroll;
}


/*headerbar*/

.header-bar{
    left: 250px;
    width: calc(100vw - 250px); 
}



/*app-content*/

.recently-played .col{
    width: 50%;
}

.app-content{
    width: calc(100% - 250px);
}


/*Multimedial bar*/

.m-bar .col{
    flex-basis: 235px;
    margin-top: 25px;
}

.m-bar .lg{
    flex-grow: 1;
}

.m-row .cell-volume{
    margin-top:10px
}

.m-row span{
    margin-top: 10px;
}

}

/*-------------------------->
Desktop responsivness (1200px)
------------------>*/

@media screen and (min-width: 1200px) {

/*app-content*/

.recently-played .col{
    width: calc(100% / 3);
}



}